body {
  background: black;
  font-family: "Arvo", serif;
}
.navbar {
  font-family: "Arvo", serif;
  background: black !important;
}
#sftg-nav-title {
  font-family: "Creepster", cursive;
  font-size: 40px;
  text-shadow: 2px 2px #9900ff;
}
.container h2 {
  font-family: "Creepster", cursive;
  color: rgb(0, 255, 34);
}
#about-content {
  background: white;
  margin: 2%;
  padding: 2%;
  border: 3px solid rgb(0, 255, 34);
  border-radius: 8px;
}
