body {
  background: black;
  font-family: "Arvo", serif;
}
.navbar {
  font-family: "Arvo", serif;
  background: black !important;
}
#sftg-nav-title {
  font-family: "Creepster", cursive;
  font-size: 40px;
}
.container h1 {
  font-family: "Creepster", cursive;
  color: white;
  text-align: center;
}
#about-content {
  background: white;
  margin: 2%;
  padding: 2%;
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: 0px 0px 40px 10px rgb(0, 255, 34);
}
