header {
  text-align: center;
  background: black;
}
header img {
  height: 100vh;
}
.navbar {
  font-family: "Arvo", serif;
  background: black !important;
}
body {
  background: black;
  margin-top: 2%;
}
.container {
  font-family: "Arvo", serif;
}
form {
  text-align: center;
  background: white;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: 0px 0px 30px 10px rgb(0, 255, 34);
}
form h1 {
  font-family: "Creepster", cursive;
  color: black;
}
form input {
  padding: 7px;
  margin: 2%;
  width: 250px;
  background: black;
  color: rgb(0, 255, 34);
  border: 2px solid black;
  border-radius: 4px;
}
form button {
  padding: 5px;
  margin: 2%;
  background: rgb(0, 255, 34);
  color: black;
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: 4px 5px 5px 2px #212121;
}
form button:hover {
  padding: 5px;
  margin: 2%;
  background: black;
  color: rgb(0, 255, 34);
  border: 2px solid rgb(0, 255, 34);
  border-radius: 4px;
  box-shadow: 4px 5px 5px 2px #212121;
}
#update header {
  background: transparent;
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}
#update {
  background: rgb(117, 0, 117);
  margin: 2%;
  padding: 2%;
  color: black;
  border-radius: 8px;
}
#shows {
  color: rgb(0, 255, 34);
}
#shows:hover {
  text-decoration: none;
  color: white;
}
