.navbar {
  font-family: "Arvo", serif;
  background: black !important;
}
#sftg-nav-title {
  font-family: "Creepster", cursive;
  font-size: 40px;
}
.container h2 {
  font-family: "Creepster", cursive;
}
#shows {
  margin: 2%;
}
#flyers {
  height: 300px;
  width: 200px;
}
#flyers:hover {
  -webkit-transform: scale(1.5); /* or some other value */
  transform: scale(1.5);
  z-index: 1;
}
