.navbar {
  font-family: "Arvo", serif;
  background: black !important;
}
body {
  background: black;
}
#sftg-nav-title {
  font-family: "Creepster", cursive;
  font-size: 40px;
  text-shadow: 2px 2px #9900ff;
}
h1 {
  font-family: "Creepster", cursive;
  margin-top: 1em;
  color: #9900ff;
}
